<h2><%= post.title %></h2>
<div><%= post.body %></div>

<% if post.image.present? %>
  <div><%= image_tag post.image, :width => '200' %></div>
<% end %>

<p>Created at: <%= post.created_at %></p>

<p>This post has <%= pluralize post.comments.count, 'comment' %> and it was <strong><%= post.awesomeness %></strong>.</p>
<div>
  <%= link_to 'Show', blog_path(post) %>
</div> 